.PreferencesMute {
  ul.entry.list-group {
    * {
      white-space: normal;
    }
    .list-group-item {
      color: inherit;
    }
  }

  ul.keywords {
    list-style-type: none;
    padding-left: 0;

    li {
      display: inline-block;
      border: solid 1px #dedede;
      border-radius: 4px;
      padding: 4px;
      margin-top: 4px;

      &:focus {
        border-color: #6db3fd;
        box-shadow: 0 0 0 3px #6db3fd;
        outline: none;
      }

      &:first-child,
      & + li {
        margin-right: 4px;
      }
    }
  }
}
