.Principal {
  .unread_badge {
    position: absolute;
    display: inline-block;
    right: 10px;
    color: white;
    background-color: #969696;
    padding: 0 10px;
    border-radius: 8px;
  }

  .window-content {
    overflow: hidden;
  }

  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subcontents {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &.fade-enter {
      display: block;
      left: 500px;
    }
    &.fade-enter-active {
      left: 0;
      transition: all 300ms 0s ease;
    }
    &.fade-enter-done {
      display: block;
    }

    &.fade-exit {
      display: block;
      left: 0;
    }
    &.fade-exit-active {
      left: 500px;
      transition: all 300ms 0s ease;
    }
    &.fade-exit-done {
      display: none;
    }
  }
}
