.SubContents {
  height: 100%;
  margin-top: 30px;
  padding-bottom: 30px;

  color: var(--text-color);
  background-color: var(--background-color);

  .header {
    filter: var(--filter);
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    padding: 3px;
    background-color: #d4d2d4;
  }
}
