.Search {
  height: 100%;

  form {
    & > div {
      position: relative;
    }

    .field {
      input {
        width: 100%;
        border: solid 1px #ddd;
        border-radius: 4px;
      }
      .form-control {
        padding-top: 0;
        padding-bottom: 0;
      }

      .icon {
        position: absolute;
        right: 8px;
        font-size: 14px;
        color: #888;

        &:active {
          color: #444;
        }
      }
    }
  }
}
