.Article {
  overflow-y: auto;
  height: 100%;

  header {
    .actions {
      display: flex;
      padding: 4px 4px 3px 4px;

      & > * {
        margin: 0 4px;
      }

      .actions-center {
        flex: auto;
      }
      .actions-right {
        flex: initial;
      }
    }
  }
}
