body {
  margin: 0;
}

header {
  -webkit-app-region: drag;
}

.modal-container {
  height: 100%;

  div,
  ul {
    height: 100%;
  }

  .carousel .slide img {
    max-height: 100%;
    object-fit: contain;
  }
  .carousel .slide video {
    height: 100%;
    max-width: 100%;
  }
}

form.search {
  padding: 8px 20px;

  input {
    padding: 0 5px;
  }
}

.window {
  font-size: 12px;

  .window-content {
    font-family: "Hiragino Sans";
    -webkit-font-smoothing: antialiased;
  }
}

.carousel {
  .slide > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
