body {
  margin: 0;
}

ul.timeline {
  list-style: none;
  padding-left: 0;

  li {
    border-bottom: solid 1px #dedede;

    & > div {
      display: table;
      padding: 8px;
      border-collapse: separate;
      border-spacing: 8px 0;
    }
    & > div > div {
      display: table-cell;
      vertical-align: top;
    }
    & p {
      margin: 0;
    }

    .avatar {
      position: relative;
    }
    .quote {
      border: solid 1px #dedede;
      padding: 8px;
    }
  }
  img.tweeter {
    width: 48px;
    display: block;
  }
  img.retweeter {
    position:: absolute;
    width: 24px;
    display: block;
    right: 0;
    top: 24px;
  }
  img.photo {
    height: 48px;
    width: 48px;
    object-fit: cover;
  }
}


.fade-enter {
  opacity: 0;
}
.fade-enter-done {
  opacity: 1;
}
