@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');

body {
  font-family: 'Noto Sans Japanese';
  font-size: 11px;
  font-weight: 300;
  margin: 0;
}

ul.timeline {
  list-style: none;
  padding-left: 0;

  li {
    border-bottom: solid 1px #dedede;

    & > div {
      display: table;
      border-collapse: separate;
      border-spacing: 8px;
    }
    & > div > div {
      display: table-cell;
      vertical-align: top;
    }
    .tweet {
      width: 100%;

      .meta {
        display: table;
        border-collapse: collapse;
        width: 100%;

        & > div {
          display: table-cell;
        }
        .screen_name {
          font-size: 90%;
          font-weight: bold;
        }
        .created_at {
          text-align: right;
        }
      }
      .retweeter {
        font-size: 90%;
      }
    }
    & p {
      margin: 0;
    }

    .avatar {
      position: relative;

      img.tweeter {
        width: 48px;
        display: block;
      }
      img.retweeter {
        position:: absolute;
        width: 24px;
        display: block;
        right: 0;
        top: 24px;
      }
    }
    .quote {
      border: solid 1px #dedede;
      margin-top: 8px;
      padding: 8px;
    }
  }
  a.photo {
    & + a.photo {
      margin-left: 8px;
    }
    img {
      height: 48px;
      width: 48px;
      object-fit: cover;
      vertical-align: bottom;
    }
  }
}


.fade-enter {
  opacity: 0;
}
.fade-enter-done {
  opacity: 1;
}
